In [1]:
from pyspark.sql import SparkSession


spark = (
    SparkSession
    .builder
    .appName("spark introduction")
    .master("local[*]")
    .getOrCreate()
)

In [2]:
spark

In [10]:
emp_schema = "emp_id string, emp_name string, department string,role string ,salary string"


# Employee data (list of rows)
emp_data = [
    [101, "Alice", "HR", "Manager", 60000],
    [102, "Bob", "IT", "Developer", 75000],
    [103, "Charlie", "Finance", "Analyst", 65000],
    [104, "Diana", "IT", "Tester", 55000],
    [105, "Evan", "Sales", "Executive", 50000]
]

In [11]:
# check number of partition :
emp = spark.createDataFrame(data=emp_data,schema=emp_schema)

In [12]:
emp.rdd.getNumPartitions()

8

In [13]:
emp.show()

+------+--------+----------+---------+------+
|emp_id|emp_name|department|     role|salary|
+------+--------+----------+---------+------+
|   101|   Alice|        HR|  Manager| 60000|
|   102|     Bob|        IT|Developer| 75000|
|   103| Charlie|   Finance|  Analyst| 65000|
|   104|   Diana|        IT|   Tester| 55000|
|   105|    Evan|     Sales|Executive| 50000|
+------+--------+----------+---------+------+

In [14]:
emp_final = emp.where("salary > 50000")

In [15]:
emp.rdd.getNumPartitions()

8

In [19]:
emp.write.format("csv").save("emp.csv")