In [1]:
# union of data frame 
# sorting data 
# aggregation of data

In [2]:
from pyspark.sql import SparkSession


spark = (
    SparkSession
    .builder
    .appName("spark introduction")
    .master("local[*]")
    .getOrCreate()
)

In [5]:
# Updated schema with gender and hire_date
emp_schema = """
emp_id int,
emp_name string,
gender string,
department string,
role string,
salary int,
hire_date string
"""

# Expanded employee data with hire_date
emp_data1 = [
    [101, "Alice", "Female", "HR", "Manager", 60000, "2018-03-15"],
    [102, "Bob", "Male", "IT", "Developer", 75000, "2019-07-22"],
    [103, "Charlie", "Male", "Finance", "Analyst", 65000, "2020-01-10"],
    [104, "Diana", "Female", "IT", "Tester", 55000, "2021-05-18"],
    [105, "Evan", "Male", "Sales", "Executive", 50000, "2022-02-01"],
    [106, "Fiona", "Female", "Marketing", "Coordinator", 48000, "2020-09-12"],
    [107, "George", "", "IT", "DevOps Engineer", 82000, "2017-11-30"],
    [108, "Hannah", "Female", "Finance", "Accountant", 62000, "2019-04-25"],
    [109, "Ian", "Male", "HR", "Recruiter", 52000, "2021-08-09"],
    [110, "Julia", "Female", "Sales", "Manager", 70000, "2016-06-17"]
]


emp_data2 = [
    [101, "Alan", "Female", "HR", "Manager", 60000, "2018-03-15"],
    [102, "Bobmark", "Male", "IT", "Developer", 75000, "2019-07-22"],
    [103, "Cheery", "Male", "Finance", "Analyst", 65000, "2020-01-10"],
    [104, "Direy", "Female", "IT", "Tester", 55000, "2021-05-18"],
    [105, "Egks", "Male", "Sales", "Executive", 50000, "2022-02-01"],
    [106, "Fatima", "Female", "Marketing", "Coordinator", 48000, "2020-09-12"],
    [107, "Gogg", "", "IT", "DevOps Engineer", 82000, "2017-11-30"],
    [108, "Hatim", "Female", "Finance", "Accountant", 62000, "2019-04-25"],
    [109, "Ismile", "Male", "HR", "Recruiter", 52000, "2021-08-09"],
    [110, "Jafari", "Female", "Sales", "Manager", 70000, "2016-06-17"]
]

In [6]:
emp1 = spark.createDataFrame(data=emp_data1,schema=emp_schema)
emp2 = spark.createDataFrame(data=emp_data2,schema=emp_schema)

In [7]:
emp1.show()

+------+--------+------+----------+---------------+------+----------+
|emp_id|emp_name|gender|department|           role|salary| hire_date|
+------+--------+------+----------+---------------+------+----------+
|   101|   Alice|Female|        HR|        Manager| 60000|2018-03-15|
|   102|     Bob|  Male|        IT|      Developer| 75000|2019-07-22|
|   103| Charlie|  Male|   Finance|        Analyst| 65000|2020-01-10|
|   104|   Diana|Female|        IT|         Tester| 55000|2021-05-18|
|   105|    Evan|  Male|     Sales|      Executive| 50000|2022-02-01|
|   106|   Fiona|Female| Marketing|    Coordinator| 48000|2020-09-12|
|   107|  George|      |        IT|DevOps Engineer| 82000|2017-11-30|
|   108|  Hannah|Female|   Finance|     Accountant| 62000|2019-04-25|
|   109|     Ian|  Male|        HR|      Recruiter| 52000|2021-08-09|
|   110|   Julia|Female|     Sales|        Manager| 70000|2016-06-17|
+------+--------+------+----------+---------------+------+----------+

In [8]:
emp2.show()

+------+--------+------+----------+---------------+------+----------+
|emp_id|emp_name|gender|department|           role|salary| hire_date|
+------+--------+------+----------+---------------+------+----------+
|   101|    Alan|Female|        HR|        Manager| 60000|2018-03-15|
|   102| Bobmark|  Male|        IT|      Developer| 75000|2019-07-22|
|   103|  Cheery|  Male|   Finance|        Analyst| 65000|2020-01-10|
|   104|   Direy|Female|        IT|         Tester| 55000|2021-05-18|
|   105|    Egks|  Male|     Sales|      Executive| 50000|2022-02-01|
|   106|  Fatima|Female| Marketing|    Coordinator| 48000|2020-09-12|
|   107|    Gogg|      |        IT|DevOps Engineer| 82000|2017-11-30|
|   108|   Hatim|Female|   Finance|     Accountant| 62000|2019-04-25|
|   109|  Ismile|  Male|        HR|      Recruiter| 52000|2021-08-09|
|   110|  Jafari|Female|     Sales|        Manager| 70000|2016-06-17|
+------+--------+------+----------+---------------+------+----------+

In [10]:
emp1.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- department: string (nullable = true)
 |-- role: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- hire_date: string (nullable = true)

In [11]:
emp2.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- department: string (nullable = true)
 |-- role: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- hire_date: string (nullable = true)

In [14]:
emp = emp1.union(emp2)

In [15]:
emp.show()

+------+--------+------+----------+---------------+------+----------+
|emp_id|emp_name|gender|department|           role|salary| hire_date|
+------+--------+------+----------+---------------+------+----------+
|   101|   Alice|Female|        HR|        Manager| 60000|2018-03-15|
|   102|     Bob|  Male|        IT|      Developer| 75000|2019-07-22|
|   103| Charlie|  Male|   Finance|        Analyst| 65000|2020-01-10|
|   104|   Diana|Female|        IT|         Tester| 55000|2021-05-18|
|   105|    Evan|  Male|     Sales|      Executive| 50000|2022-02-01|
|   106|   Fiona|Female| Marketing|    Coordinator| 48000|2020-09-12|
|   107|  George|      |        IT|DevOps Engineer| 82000|2017-11-30|
|   108|  Hannah|Female|   Finance|     Accountant| 62000|2019-04-25|
|   109|     Ian|  Male|        HR|      Recruiter| 52000|2021-08-09|
|   110|   Julia|Female|     Sales|        Manager| 70000|2016-06-17|
|   101|    Alan|Female|        HR|        Manager| 60000|2018-03-15|
|   102| Bobmark|  Male|        IT|      Developer| 75000|2019-07-22|
|   103|  Cheery|  Male|   Finance|        Analyst| 65000|2020-01-10|
|   104|   Direy|Female|        IT|         Tester| 55000|2021-05-18|
|   105|    Egks|  Male|     Sales|      Executive| 50000|2022-02-01|
|   106|  Fatima|Female| Marketing|    Coordinator| 48000|2020-09-12|
|   107|    Gogg|      |        IT|DevOps Engineer| 82000|2017-11-30|
|   108|   Hatim|Female|   Finance|     Accountant| 62000|2019-04-25|
|   109|  Ismile|  Male|        HR|      Recruiter| 52000|2021-08-09|
|   110|  Jafari|Female|     Sales|        Manager| 70000|2016-06-17|
+------+--------+------+----------+---------------+------+----------+

In [24]:
from pyspark.sql.functions import asc,desc,col

# select * from emp order by salary desc;

emp_desc = emp.orderBy(col("salary").asc());

In [25]:
emp_desc.show()

+------+--------+------+----------+---------------+------+----------+
|emp_id|emp_name|gender|department|           role|salary| hire_date|
+------+--------+------+----------+---------------+------+----------+
|   106|   Fiona|Female| Marketing|    Coordinator| 48000|2020-09-12|
|   106|  Fatima|Female| Marketing|    Coordinator| 48000|2020-09-12|
|   105|    Evan|  Male|     Sales|      Executive| 50000|2022-02-01|
|   105|    Egks|  Male|     Sales|      Executive| 50000|2022-02-01|
|   109|     Ian|  Male|        HR|      Recruiter| 52000|2021-08-09|
|   109|  Ismile|  Male|        HR|      Recruiter| 52000|2021-08-09|
|   104|   Direy|Female|        IT|         Tester| 55000|2021-05-18|
|   104|   Diana|Female|        IT|         Tester| 55000|2021-05-18|
|   101|   Alice|Female|        HR|        Manager| 60000|2018-03-15|
|   101|    Alan|Female|        HR|        Manager| 60000|2018-03-15|
|   108|  Hannah|Female|   Finance|     Accountant| 62000|2019-04-25|
|   108|   Hatim|Female|   Finance|     Accountant| 62000|2019-04-25|
|   103|  Cheery|  Male|   Finance|        Analyst| 65000|2020-01-10|
|   103| Charlie|  Male|   Finance|        Analyst| 65000|2020-01-10|
|   110|   Julia|Female|     Sales|        Manager| 70000|2016-06-17|
|   110|  Jafari|Female|     Sales|        Manager| 70000|2016-06-17|
|   102|     Bob|  Male|        IT|      Developer| 75000|2019-07-22|
|   102| Bobmark|  Male|        IT|      Developer| 75000|2019-07-22|
|   107|  George|      |        IT|DevOps Engineer| 82000|2017-11-30|
|   107|    Gogg|      |        IT|DevOps Engineer| 82000|2017-11-30|
+------+--------+------+----------+---------------+------+----------+

In [39]:
from pyspark.sql.functions import count,sum

In [37]:
emp_agg = emp_desc.groupby("department").agg(count("emp_id").alias("department count"))  # department wise

In [38]:
emp_agg.show()

+----------+----------------+
|department|department count|
+----------+----------------+
|        HR|               4|
|        IT|               6|
|   Finance|               4|
|     Sales|               4|
| Marketing|               2|
+----------+----------------+

In [42]:
emp_agg1 = emp_desc.groupby("Role").agg(sum("salary").alias("total salary based on role"))  #role

In [43]:
emp_agg1.show()

+---------------+--------------------------+
|           Role|total salary based on role|
+---------------+--------------------------+
|        Manager|                    260000|
|      Developer|                    150000|
|        Analyst|                    130000|
|         Tester|                    110000|
|      Executive|                    100000|
|    Coordinator|                     96000|
|DevOps Engineer|                    164000|
|     Accountant|                    124000|
|      Recruiter|                    104000|
+---------------+--------------------------+

In [48]:
# aggregate 
# SELECT class, AVG(marks) AS avg_marks
# FROM students
# GROUP BY class
# HAVING AVG(marks) > 75;

emp_agg3 = emp_desc.groupby("department").agg(count("emp_id").alias("department_count")).where("department_count >2")                                                                                                  # department wise

In [49]:
emp_agg3.show()

+----------+----------------+
|department|department_count|
+----------+----------------+
|        HR|               4|
|        IT|               6|
|   Finance|               4|
|     Sales|               4|
+----------+----------------+

In [52]:
emp.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- department: string (nullable = true)
 |-- role: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- hire_date: string (nullable = true)

In [53]:
emp2other = emp2.select("emp_id","gender","salary","emp_name","department","role","hire_date")

In [54]:
emp1.printSchema()
emp2other.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- department: string (nullable = true)
 |-- role: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- hire_date: string (nullable = true)

root
 |-- emp_id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- role: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [57]:
# sequence will maintain by this union you can see above

emp = emp1.unionByName(emp2other)

In [56]:
emp.show()

+------+--------+------+----------+---------------+------+----------+
|emp_id|emp_name|gender|department|           role|salary| hire_date|
+------+--------+------+----------+---------------+------+----------+
|   101|   Alice|Female|        HR|        Manager| 60000|2018-03-15|
|   102|     Bob|  Male|        IT|      Developer| 75000|2019-07-22|
|   103| Charlie|  Male|   Finance|        Analyst| 65000|2020-01-10|
|   104|   Diana|Female|        IT|         Tester| 55000|2021-05-18|
|   105|    Evan|  Male|     Sales|      Executive| 50000|2022-02-01|
|   106|   Fiona|Female| Marketing|    Coordinator| 48000|2020-09-12|
|   107|  George|      |        IT|DevOps Engineer| 82000|2017-11-30|
|   108|  Hannah|Female|   Finance|     Accountant| 62000|2019-04-25|
|   109|     Ian|  Male|        HR|      Recruiter| 52000|2021-08-09|
|   110|   Julia|Female|     Sales|        Manager| 70000|2016-06-17|
|   101|    Alan|Female|        HR|        Manager| 60000|2018-03-15|
|   102| Bobmark|  Male|        IT|      Developer| 75000|2019-07-22|
|   103|  Cheery|  Male|   Finance|        Analyst| 65000|2020-01-10|
|   104|   Direy|Female|        IT|         Tester| 55000|2021-05-18|
|   105|    Egks|  Male|     Sales|      Executive| 50000|2022-02-01|
|   106|  Fatima|Female| Marketing|    Coordinator| 48000|2020-09-12|
|   107|    Gogg|      |        IT|DevOps Engineer| 82000|2017-11-30|
|   108|   Hatim|Female|   Finance|     Accountant| 62000|2019-04-25|
|   109|  Ismile|  Male|        HR|      Recruiter| 52000|2021-08-09|
|   110|  Jafari|Female|     Sales|        Manager| 70000|2016-06-17|
+------+--------+------+----------+---------------+------+----------+

In [58]:
emp.count()

20